.formacao {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.titulo__formacao {
    font-family: 'Outfit', sans-serif;
    font-weight: 100;
    font-size: 3rem;
    text-align: center;
    margin-bottom: 5rem;
    color: #fff;
}

.container__formacao {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    padding: 1rem;
    justify-content: center;
}

.caixa__formacao {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    border: none;
    background-color: #323232;
    align-items: center;
    justify-content: space-around;
    padding: 1rem;
    width: 18rem;
    margin: 1rem;
}

.logo__formacao {
    width: 15rem;
    height: 14rem;
}

.curso__formacao {
    font-family: 'Outfit', sans-serif;
    font-weight: 400;
    font-size: 20px;
    padding-top: 1rem;
    text-align: center;
    color: #A7CCBF;
}

.ano__formacao {
    font-family: 'Outfit', sans-serif;
    font-weight: 400;
    font-size: 14px;
    padding: 1rem 0;
    color: #fff;
}