@import 'style.css';

.header {
    width: 100%;
    border-bottom: 1px solid var(--cinza);
}

.scroll {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), transparent);
    backdrop-filter: blur(10px);
    box-shadow: inset 0 10px 20px rgba(0, 0, 0, 0.5);
    transition: backdrop-filter 0.6s ease, background-color 0.6s ease;
}

.header_container {
    width: 100%;
}

.header_nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5% 8%;
    position: fixed;
    transition: 0.6s;
    z-index: 100000;
}

.header_title {
    font-size: var(--size-title-header);
}

.header_nav a {
    font-size: var(--size-p);
    font-weight: 200;
    position: relative;
    text-decoration: none;
}

.header_menu li a,
.header_nav .icons i {
    color: var(--white);
}

.header_menu {
    display: flex;
    align-items: center;
    gap: 50px;
}

.header_menu li {
    list-style: none;
    position: relative;
    z-index: 1;
    transition: 0.6s ease-in-out;
}

.header_menu li a:hover, .header_nav .icons i:hover {
    background-image: linear-gradient(to right, #7209B7, #F72585, #3A0CA3);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    animation:slidebg 5s linear infinite;
}

.header_nav .icons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

.header_nav .icons i {
    font-size: var(--size-title);
}

.menu {
    color: var(--white);
    display: none;
}

@media (max-width: 900px) {
    .header {
        padding: 0;
    }

    .menu {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50px;
        height: 50px;
        color: var(--white);
        cursor: pointer;
    }

    .header_nav {
        position: relative;
    }

    .header_menu {
        width: 100%;
        position: absolute;
        top: 100%;
        left: 0;
        height: 100vh;
        flex-direction: column;
        align-items: flex-end;
        padding: 2rem 5rem;
        z-index: 999;
        background: var(--dark-prim);
        border: 1px solid rgba(131, 131, 131, 0.5);
        transition: opacity 0.3s ease, visibility 0.3s ease;
        visibility: hidden;
        opacity: 0;
    }

    .show_menu {
        visibility: visible;
        opacity: 1;
    }
}

@keyframes slidebg {
    to {
        background-position: 20vw;
    }
}
