.skills {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.titulo__skills {
    font-family: 'Outfit', sans-serif;
    font-weight: 100;
    font-size: 3rem;
    color: #fff;
    text-align: center;
    margin-bottom: 5rem;
}

.container__skills {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 80%;
    justify-content: center;
}

.caixa {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    border: none;
    background: #191919;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    width: 7rem;
    margin: 1rem;
}

.logo__lp {
    width: 5rem;
    height: 5rem;
}

.github {
    width: 6rem;
    height: 6rem;
}

.skills__titulo-lp {
    font-family: 'Outfit', sans-serif;
    font-weight: 400;
    font-size: 18px;
    padding-top: 1rem;
    color: #fff;
}

@media(max-width: 1024px) {
    .container__skills {
        margin-bottom: 5rem;
    }
    .titulo__skills {
        margin-bottom: 2rem;
    }
}

@media(max-width: 768px) {
    .container__skills {
        width: 95%;
    }

    .caixa {
        width: 4rem;
    }

    .titulo__skills {
        margin-bottom: 1rem;
    }
}