@import "style.css";

.skills {
    position: relative;
    padding: 3rem 1%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.skills_container {
    width: 95%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 2rem;
}

.swiper {
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}

.inner img {
    width: 80px;
    height: 80px;
    padding: 1rem;
}

.inner {
    text-align: center;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}
