* {
    margin: 0;
    padding: 0;
}

#home {
    background: #323232;
    height: auto;
    padding: 2rem;
}

.bx-fw {
    color: #fff;
    padding: 10px;
}

#sobre-mim {
    background: #191919;
    height: 10vh;
}

#skills { 
    background: #323232;
    height: auto;
    padding: 2rem 0 2rem 0;
}

#formacao {
    background: #191919;
    height: auto;
    padding: 2rem;
}

#projetos {
    background: #323232;
    height: auto;
    padding: 2rem;
}

#contato {
    background: #191919;
    height: auto;
    padding: 2rem;
}

#footer {
    height: auto;
    padding: 2rem;
}